@import 'src/styles/variables.scss';

.root {
  align-items: center;
  background: transparent;
  border: 2px solid $bg-3;
  box-sizing: border-box;
  border-radius: 5px;
  color: $bg-3;
  display: flex;
  font-family: $font-family-content;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  justify-content: center;
  line-height: 23px;
  height: 40px;
  min-width: 200px;
  text-align: center;
}

.filled {
  background: $bg-3;
  color: $bg-2;
}
