@import 'variables';

// General
body {
  color: $text-primary;
}

// Typography
small {
  font-family: $font-family-content;
  font-style: normal;
  font-weight: $font-weight-light;
  font-size: 13.5034px;
  line-height: 17px;
  color: inherit;

  @include media("<lg") {
    font-size: 9.6px;
    line-height: 12px;
  }

  @include media("<sm") {
    font-size: 7.2px;
    line-height: 9px;
  }
}

p {
  font-family: $font-family-content;
  font-style: normal;
  font-weight: $font-weight-light;
  font-size: 18px;
  line-height: 23px;
  color: inherit;

  @include media("<lg") {
    font-size: 12px;
    line-height: 15px;
  }

  @include media("<sm") {
    font-size: 9px;
    line-height: 11px;
  }
}

h4 {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: 23.994px;
  line-height: 29px;
  color: inherit;

  @include media("<lg") {
    font-size: 15px;
    line-height: 18px;
  }

  @include media("<sm") {
    font-size: 11.25px;
    line-height: 14px;
  }
}

h3 {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: 31.984px;
  line-height: 39px;
  color: inherit;

  @include media("<lg") {
    font-size: 18.75px;
    line-height: 23px;
  }

  @include media("<sm") {
    font-size: 14.0625px;
    line-height: 17px;
  }
}

h2 {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: 42.6347px;
  line-height: 52px;
  color: inherit;

  @include media("<lg") {
    font-size: 23.4375px;
    line-height: 29px;
  }

  @include media("<sm") {
    font-size: 17.5781px;
    line-height: 21px;
  }
}

h1 {
  font-family: $font-family-header;
  font-style: normal;
  font-weight: $font-weight-bold;
  font-size: 56.832px;
  line-height: 69px;
  color: inherit;
  margin-top: 0px;

  @include media("<md") {
    font-size: 29.2969px;
    line-height: 36px;
  }

  @include media("<sm") {
    font-size: 21.9727px;
    line-height: 27px;
  }
}

a, a:focus, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}