@import 'src/styles/variables.scss';

.layout_root {
  background: $bg-3;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;

  &:before {
    background-color: $bg-1;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);
    clip-path: polygon(43% 0%, 63% 43%, 23% 100%, 0 100%, 0 0);
    content: " ";
    height: 100%;
    position: absolute;
    width: 100%;

    @include media("<md") {
      display: none;
    }
  }
}

.layout_content {
  background: $ct-1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: calc(100vh - 120px);
  margin: 0 auto;
  max-width: 1600px;
  overflow: hidden;
  position: relative;
  width: 90vw;

  @include media("<xl") {
    height: calc(100vh - 110px);
  }

  @include media("<md") {
    background: transparent;
    box-shadow: none;
    border-radius: 0px;
    height: calc(100% - 50px);
    margin: 0px;
    overflow: auto;
    padding: 20px;
    padding-bottom: 0px;
    width: auto;
  }

  // @include media("<sm") {
  //   height: calc(100vh - 40px);
  //   width: calc(100vw - 20px);
  // }

  &:before {
    background-color: #FFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
    clip-path: polygon(50% 0%, 70% 43%, 30% 100%, 0 100%, 0 0);
    content: " ";
    height: 100%;
    position: absolute;
    width: 100%;

    @include media("<md") {
      display: none;
    }
  }
}

.layout_content_wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;

  @include media("<md") {
    height: auto;
    min-height: 100%;
    position: relative;
  }
}

@media (orientation: portrait) {
  .layout_root {
    &:before {
      clip-path: polygon(100% 0, 100% 50%, 70% 65%, 0 35%, 0 0);
    }
  }

  .layout_content {
    &:before {
      clip-path: polygon(100% 0, 100% 55%, 70% 70%, 0 40%, 0 0);
    }
  }
}