@import 'src/styles/variables.scss';

.root {
  background: $bg-3;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;

  &:before {
    background-color: $bg-1;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.3);
    content: " ";
    height: 150%;
    left: -57%;
    position: absolute;
    top: -35%;
    transform: rotate(140deg);
    width: 100%;
  }
}

.content {
  background: $ct-1;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: calc(100vh - 160px);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 80vw;

  @include media("<sm") {
    height: calc(100vh - 100px);
    width: calc(100vw - 40px);
  }

  &:before {
    background-color: #FFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
    content: " ";
    height: 150%;
    left: -50%;
    position: absolute;
    top: -35%;
    transform: rotate(140deg);
    width: 100%;
  }
}

.contentWrapper {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

@media (orientation: portrait) {
  .root {
    &:before {
      height: 100%;
      left: -40%;
      top: -53%;
      transform: rotate(130deg);
      width: 150%;
    }
  }

  .content {
    &:before {
      height: 100%;
      left: -35%;
      top: -50%;
      transform: rotate(130deg);
      width: 150%;
    }
  }

  @include media(">sm", "<=lg") {
    .root {
      &:before {
        left: -10%;
        top: -60%;
        transform: rotate(130deg);
      }
    }
  
    .content {
      &:before {
        left: -10%;
        top: -50%;
        transform: rotate(130deg);
      }
    }
  }
}