@import 'src/styles/variables.scss';

.view_root {
  display: flex;
  height: 100%;
  width: 100%;
}


.view_menu {
  width: 150px;

  @include media("<md") {
    display: none;
  }
}

.view_content {
  display: flex;
  flex-grow: 1;
}

.view_social_links {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100px;

  @include media("<md") {
    display: block;
    margin-bottom: -25px;
    position: fixed;
    right: 15px;
    bottom: 50%;
    transform: translateY(50%);
    width: 20px;
  }

  @include media("<sm") {
    bottom: 50px;
    left: 15px;
    margin: 0px;
    transform: none;
  }
}

.view_explore_more {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin-top: 60px;
  justify-content: center;

  div {
    color: $bg-2;
    margin-bottom: 45px;
    margin-left: 2px;
    transform: rotate(-90deg);
  }

  @include media("<md") {
    display: none;
  }
}
