@import 'src/styles/variables.scss';

.landing_root {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  position: relative;
  width: 100%;
}

.landing_section_content {
  flex: 0 0 50%;

  h1 {
    color: $ct-2;
  }

  h4 {
    border-left: 6px solid #D7F2F7;
    padding-left: 35px;
  }

  section {
    margin-top: 50px;
  }
}

.landing_section_img {
  align-self: end;
  align-self: flex-end;
  flex: 0 0 50%;
  overflow: visible;
}

.landing_profile_img {
  max-width: 450px;
  overflow: visible;
  width: 100%;
}

@media (orientation: portrait) {
  .landing_root {
    flex-flow: column;
  }

  .landing_section_content {
    padding: 20px 10px;
  }

  .landing_section_img {}
}
