@import 'src/styles/variables.scss';

.root {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  position: relative;
  width: 100%;

  @include media("<md") {
    flex-flow: column;
  }
}

.sectionContent {
  flex: 0 0 50%;

  h1 {
    color: $ct-2;
  }

  h4 {
    border-left: 6px solid #D7F2F7;
    padding-left: 35px;
  }

  section {
    margin-top: 50px;
  }

  @include media("<md") {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 50%;
    justify-content: center;
    width: 100%;

    section {
      display: none;
    }
  }
}

.sectionImg {
  align-self: end;
  align-self: flex-end;
  flex: 0 0 45%;

  @include media ("<xl") {
    flex: 0 0 40%;
  }

  @include media("<md") {
    align-self: start;
    align-self: flex-start;
    height: 50%;
    width: 100%;
  }
}
