@import 'src/styles/variables.scss';

.root {
  position: relative;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  height: 60px;
  margin: 0 auto;
  max-width: 1600px;
  width: 90vw;

  @include media("<md") {
    height: 40px;
    width: calc(100vw - 40px);
  }

  @include media("<sm") {
    height: 30px;
    width: calc(100vw - 20px);
  }
}

.logo {
  height: 40px;

  @include media("<md") {
    height: 30px;
  }

  @include media("<sm") {
    height: 20px;
  }
}
