@import 'src/styles/variables.scss';

.root {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 100%;
  height: 100%;
  width: 100%;
}


.menuSection {
  background-color: rgba(255, 0, 0, 0.2);
}

.contentSection {
  background-color: rgba(0, 128, 0, 0.2);
}

.socialLinksSection {
  background-color: rgba(0, 0, 255, 0.2);
}
