@import 'src/styles/variables.scss';

.home_root {
  display: flex;
  height: 100%;
  width: 100%;
}


.home_menu {
  background: red;
  width: 150px;

  @include media("<md") {
    display: none;
  }
}

.home_content {
  display: flex;
  flex-grow: 1;
}

.home_social_links {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100px;

  @include media("<sm") {
    display: none;
  }
}

.home_explore_more {
  align-items: center;
  bottom: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: absolute;

  div {
    color: $bg-2;
    margin-bottom: 45px;
    margin-left: 2px;
    transform: rotate(-90deg);
  }
}

@media (orientation: portrait) {
  .home_menu {
    display: none;
  }

  .home_social_links {
    display: none;
  }
}
